* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
:root{
  --col-rgb: rgb(0,0,0);
  --col-r-rgb: rgb(255,255,255);
  --bgcol-rgb: #999;
  --colorIcon: invert(0);
}
body {
  height: 100vh;
  /* background-color: rgb(22,22,22); */
}
button{
  background-color: transparent;
}
body{
  width: 100%;
}
.icon:active{
  transform: scale(0.5);
  /* filter: ; */
}
.main {
  width: 100%;
  max-height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}
.main input[type="file"]{
  display: none;
}
.main .contenet {
  width: 100%;
  height: 100vh;
  padding: 0 0 10%;
  color: var(--col-rgb);
  background-color: var(--bgcol-rgb);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: #000; */
}
/* started header */
.contenet .header {
  width: 100%;
  height: 15vw;
  padding: 0 5vw;
  display: flex;
  direction: rtl;
  flex-wrap: wrap;
  justify-content: space-between;
  /* justify-content: space-evenly; */
  align-items: center;
  border-width: 0 0 0px;
  border-style: solid;
  border-color: var(--col-rgb);
  border-radius: 0 0 1em 1em;
  box-shadow: 0 1vw 2vw #222;
}
.header #title {
  width: 80%;
  height: 7vw;
  font-size: 4vw;
  margin-right: 3vw;
  color: var(--col-rgb);
  /* direction: rtl; */
  white-space: nowrap;
  /* color: #fff; */
  text-align: center;
  overflow: hidden;
}
.btn-icon{
  font-size: 6vw;
  color: var(--col-rgb);
  background-color: transparent;
}
.header .Artist{
  width: 90%;
  text-align: center;
  color: var(--col-rgb);
  font-size: 4vw;
  font-weight: 400;
  white-space: nowrap;
}
/* End header */

/* started  section */
.contenet section {
  width: 100%;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .box_in1 {
  width: 50%;
  height: 50vw;
  /* overflow: hidden; */
  border-radius: 50%;
  position: relative;
  /* box-shadow: 0 0 10vw #000; */
}
.box_in1 #bor {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: transparent;
  border-radius: 50%;
  border-width: 0;
  border-style: solid;
  /* border: 1px solid #fff; */
  border-color: var(--col-rgb);
  /* animation: bor 1s linear infinite paused; */
}
@keyframes bor {
  0% {
    border-width: 0;
    opacity: 1;
    transform: scale(1);
  }
  100% {
    border-width: 1px;
    opacity: 0;
    transform: scale(1.5);
  }
}
.box_in1 #Img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* animation: im 10s linear infinite paused; */
}
@keyframes im {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* End section */

/* started footer */
.contenet .footer {
  width: 100%;
  height: 50vw;
  /* background-color: #999; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* gap: 2vw 0; */
  /* border-radius: 20vw; */
}
.footer .properts-plye {
  width: 70%;
  height: 10vw;
  /* background-color: #999; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.properts-plye .btn-icon {
  font-size: 5vw;
}
.properts-plye .F {
  font-size: 3.5vw;
}
.properts-plye img {
  width: 6vw;
  height: 6vw;
  filter: var(--colorIcon);
  /* color: var(--col-rgb); */
  /* filter: brightness(200%) grayscale(100%) sepia(100%) invert(100%); */
  /* filter: drop-shadow(0 0 1px #fff) invert(100%); */
  /* filter: grayscale(100%); */
  /* filter: brightness(100%); */
  /* filter: opacity(500%); */
  /* filter: contrast(100%); */
  /* filter: saturate(500); */
  /* filter: drop-shadow(0 0 0 #fff); */
  /* filter: invert(100%); */
}
.properts-plye label.btn-icon {
  transform: rotate(45deg);
}

.footer .der {
  width: 100%;
  height: 10vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #800; */
}
.der p {
  width: 10%;
  height: 3vw;
  text-align: center;
  font-size: 3vw;
  overflow: hidden;
  color: var(--col-rgb);
  /* background-color: #080; */
}
.der #sold {
  -webkit-appearance: none;
  /* -webkit-border-before-color: #fff; */
  /* -webkit-border-after-color:#fff; */
  /* color-interpolation: sRGB; */
  background-color: var(--col-rgb);
  outline: none;
  width: 60%;
  height: 0.9vw;
  border-radius: 5vw;
  /* animation: bac 60s linear infinite; */
}
@keyframes bac {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100vw 0;
  }
}
.der #sold::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* color-interpolation: sRGB; */ 
  /* -webkit-border-before-color: #fff; */ 
  /* -webkit-border-after-color:#fff; */
  width: 3vw;
  height: 3vw;
  background-color: var(--col-rgb);
  border-radius: 50%;
}

.footer .controls {
  width: 100%;
  height: 15vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #080; */
}
.controls > img{
  width: 6vw;
  height: 6vw;
  filter: var(--colorIcon);
}
.controls button {
  /* background: transparent; */
  width: calc(40% / 4);
  height: 10vw;
  font-size: 4vw;
  /* line-height: 5vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--col-rgb);
  background-color: rgb(103,128,134);
  /* transition: all 2s steps(10, start); */
  /* transition: all 2s steps(10, end); */
  /* transition: 0.2s; */
}
.controls button.Plye {
  width: 15%;
  height: 15vw;
  font-size: 5vw;
  letter-spacing: 0;
}
button.Back span,button.next span{
  text-align: center;
  letter-spacing: -5px;
}
button.next span{
  margin-left: -2vw;
}
/* .controls button.next, .controls button.Back,.controls button.plye{
  color: var(--bgcol-rgb);
  background-color: var(--col-rgb);
} */
/* .controls button:nth-child(3) {
  width: 15%;
  height: 15vw;
} */
.controls button img {
  width: 50%;
  height: 50%;
  filter: var(--colorIcon);
  /* background-color: #008; */
}
.controls button:active {
  /* filter: blur(30px); */
  /* background-color: #ccc; */
  /* transition-timing-function:cubic-bezier(0.075, 0.75, 0.875, 0.36); */
  /* transition: all 2s steps(10, start); */
  /* transition: all 2s steps(10, end); */
  /* transition: transform 0.4s cubic-bezier(.72,-0.61,.25,1.51); */
}
/* End footer */
.main .show{
  width: 100%;
  height: 90vw;
  padding-bottom: 2vw;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -1px 5px #ccc;
  transform-origin: 50% 100%;
  direction: rtl;
  transition: 0.1s;
  transform: scaleY(0);
}
.show .head{
  width: 90%;
  padding: 2vw 0 2vw 2vw;
  display: flex;
  justify-content: space-between;
  /* justify-content: space-evenly; */
  align-items: center;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 0 1px;
}
.head h3{
  width: 80%;
  font-size: 4vw;
  text-align: center;
  /* border-radius: 0 0 10px 10px; */
  /* border-style: solid;
  border-color: #ccc;
  border-width: 0 0 1px; */
  /* background-color: #fff; */
  direction: rtl;
}
.show .btn{
  width: 95%;
  height: 10vw;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 4vw;
  background-color: #fff;
  color: #800;
}
.show .box {
  width: 90%;
  max-height: 60vw;
  margin: 0 auto;
  display: flex;
  position: relative;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  /* gap: 2vw 0; */
  /* background-color: #f00; */
}
.box .in-show{
  width: 100%;
  height: 12vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 0 1px;
  /* background-color: #080; */
}
.in-show p:active,.show .btn:active{
  background-color: rgba(0,0,0,0.1);
}
.in-show p{
  width: 90%;
  height: 12vw;
  font-size: 4vw;
  display: flex;
  align-items: center;
  font-weight: 600;
  overflow: hidden;
  /* background-color: #f00; */
  white-space: nowrap;
}
.in-show .icon-del{
  width: 10%;
  height: 8vw;
  text-align: center;
  /* filter: invert(100%); */ 
}
.in-show img.icon-del{
  width: 7%;
  height: 6vw;
  /* filter: invert(100%); */ 
}